<h1 class="text-2xl">
  <%= if assigns[:current_site] do %>
    <%= @current_site.name %>
  <% else %>
    Crew: Simplifying Scheduling
  <% end %>
</h1>

<div>
  <%= link "Sign Up for a #{gettext("Time Slot")} »", to: Routes.public_signup_index_path(@socket, :index), class: "large primary button" %>
</div>
