<ul>
<%= if @conn.assigns[:current_person] do %>
  <li><%= @current_person.email %></li>
  <li><%= link "Profile", to: Routes.public_signup_index_path(@conn, :profile) %></li>
  <li><%= link "Log out", to: Routes.signup_path(@conn, :log_out), method: :delete %></li>
<% else %>
  <li><%= link "Sign Up", to: Routes.public_signup_index_path(@conn, :index) %></li>
<% end %>
</ul>
