<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Crew", prefix: "#{if assigns[:current_site], do: "#{@current_site.name} "} DEV - ", suffix: " · Simplifying Scheduling" %>

    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body id="crew-public">
    <header class="max-w-screen-sm px-4 mx-auto md:px-0"">
      <section>
        <nav role="navigation" class="flex justify-between pt-2 mb-8">
          <ul class="flex space-x-4">
            <li><%= link "Start", to: Routes.public_signup_index_path(@conn, :index) %></li>
            <li><%= link gettext("Time Slots"), to: Routes.public_time_slots_index_path(@conn, :index) %></li>
          </ul>
          <%= render "_person_menu.html", assigns %>
        </nav>
      </section>
    </header>

    <div class="max-w-screen-sm px-4 mx-auto md:px-0">
      <%= @inner_content %>
    </div>
  </body>
</html>
