<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Crew", prefix: "#{if assigns[:current_site], do: "#{@current_site.name} "} DEV - ", suffix: " · Simplifying Scheduling" %>

    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul class="main-nav">
            <li><%= link "Home", to: "/" %></li>
            <li><%= link gettext("People"), to: Routes.person_index_path(@conn, :index) %></li>
            <li><%= link gettext("Signups"), to: Routes.signup_index_path(@conn, :index) %></li>
            <li><%= link gettext("Activities"), to: Routes.activity_index_path(@conn, :index) %></li>
            <li><%= link gettext("Time Slots"), to: Routes.time_slot_index_path(@conn, :index) %></li>
            <li><%= link gettext("Periods"), to: Routes.period_index_path(@conn, :index) %></li>
            <li><%= link gettext("Period Groups"), to: Routes.period_group_index_path(@conn, :index) %></li>
            <li><%= link "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
          </ul>
          <%= render "_user_menu.html", assigns %>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
