<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Crew", suffix: " · #{if(assigns[:current_site], do: @current_site.name, else: "Crew: Simplifying Scheduling")}" %>

    <link phx-track-static rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer phx-track-static type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </head>
  <body id="crew-root">
    <header>
      <section class="text-white bg-coolGray-600">
        <nav role="navigation" class="flex p-2 m-auto md:px-4 lg:max-w-screen-lg">
          <%= live_redirect "Crew", to: "/", class: "font-bold mr-8" %>

          <div class="flex justify-between w-full">
            <ul id="main-nav" class="flex space-x-4">
              <%= if @current_user do %>
                <li><%= live_redirect gettext("People"), to: Routes.person_index_path(@conn, :index) %></li>
                <li><%= live_redirect gettext("Signups"), to: Routes.signup_index_path(@conn, :index) %></li>
                <li><%= live_redirect gettext("Activities"), to: Routes.activity_index_path(@conn, :index) %></li>
                <li><%= live_redirect gettext("Time Slots"), to: Routes.time_slot_index_path(@conn, :index) %></li>
                <!-- <li><%= live_redirect gettext("Periods"), to: Routes.period_index_path(@conn, :index) %></li> -->
                <!-- <li><%= live_redirect gettext("Period Groups"), to: Routes.period_group_index_path(@conn, :index) %></li> -->
                <li><%= live_redirect gettext("Users"), to: Routes.user_index_path(@conn, :index) %></li>
                <li><%#= live_redirect "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %></li>
              <% end %>
            </ul>
            <%= render "_user_menu.html", assigns %>
          </div>
        </nav>
      </section>
    </header>

    <div class="px-2 m-auto md:px-4 lg:py-2 lg:max-w-screen-lg">
      <%= @inner_content %>
    </div>
  </body>
</html>
