<div>
  <h1>Please confirm your email address</h1>

  <p>
    <%= link "Yes, this is my email address", to: "http://#{@site.primary_domain}/signup/verify_code/#{@person.id}/#{@code}" %>
  </p>

  <p>
    Code: <%= @code %>
  </p>

  <p>
    If you are not trying to sign up at <%= @site.name %>, please disregard this email.
  </p>
</div>
