<div>
  <h1><%= @site.name %> - Recent Activity</h1>

  <ul>
  <%= for notification <- @notifications do %>
    <li>
      <strong><%= notification.subject %>:</strong>
      <%= notification.body %>
    </li>
  <% end %>
  </ul>

  <p>Use the following link to make changes:</p>

  <p><%= link "View or Cancel Signups", to: "http://#{@site.primary_domain}/signup/auth_from_email/#{@person.id}/#{@person.auth_token}" %></p>
</div>
